@media print {
    html {
        font-size: 4pt;
        background: none !important;
        margin-bottom: 0;
    }

    body {
        color: black !important;
    }

    canvas {
        display: none;
    }

    #overlay, #toolbox, .tool_window {
        display: none;
    }

    .container {
        margin: 0;
        width: 100%;
        max-width: unset;
    }

    .columns > .column {
        min-width: 0;
    }

    .columns > .column > section {
        padding: 2rem !important;
    }

    .columns h2 {
        border-top: 1px solid black;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .paper {
        padding: 1rem 0;
        background: 0;
    }

    h1, section {
        /*background: #eee !important;*/
        background: none !important;
        border: 1px solid black !important;
        border-radius: 0 !important;
    }

    header {
        /*align-items: stretch;*/
    }

    header > h1 {
        min-width: 0;
        margin: 1rem;
        font-size: 4rem;
    }

    header > section {
        padding: 1rem;
    }

    #personal_details > div {
        flex: 1 1 30%;
        margin: 1rem 1rem;
        min-width: 0;
    }

    #stats > .primary > div {
        border-radius: 0;
    }

    #stats > .primary > div > h3 {
        background: none;
        color: black;
        padding: 1rem 1rem;

        /*background: black;
        color: white;
        padding: 1.5rem 1rem;*/
    }

    #stats > .primary > div > div {
        border-bottom: 1px solid black;
    }
}